html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(to right, #3b1111, #700202, #3b1111);
    color: rgb(255,255,255);
    margin: 0;
    line-height: 1.5;

    font-optical-sizing: none; 
    font-variation-settings: "wdth" 100; 
}

picture, img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#geislun {
    width: 300px;
    height: auto;
}

#stigi {
    width: 300px;
    height: auto;
}

#grahar {
    width: 300px;
    height: auto;
}

#toflumynd {
    width: 300px;
    height: auto;
}

#bullmynd {
    width: 600px;
    height: auto;
}

figcaption {
    font-size: .9;
    font-style: italic;
}
.bg-grunnur {
    background-color: rgb(251, 237, 200);
}
.bg-gradient {
    background-image: linear-gradient(rgb(4,0,0, .4), rgb(4,0,0, 0));
}
header, main, footer {
    padding: 1em;
}
header h1 {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin: 0;
}
.topnav {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-image: linear-gradient(#700202, #3b1111);
    text-decoration: none;
}
.topnav a{
    padding: .5em 1em;
    border-bottom: 1px solid rgb(247, 223, 181);
}

.topnav a:link { color: #2c3e50; }
.topnav a:visited { color: #9b59b6; }
.topnav a:hover { color: #e74c3c; }
.topnav a:active { color: #27ae60;   }

.topnav a,
.footernav a {
    display: block;
    color: rgb(247, 223, 181);
    text-decoration: none;
    text-align: center;
}
footer {
    line-height: 1.8;
    text-align: center;
}

main {
    color: rgb(44, 40, 40);
}
main a {
    color: #700202;
}

.col-3, .col-32, .col-23 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}
.copy {
    text-align: center;
}

@media screen and (min-width:37.5rem){ /* 600px */

    .topnav {
        display: flex;
        flex-flow: row wrap;
    }
    .topnav a {
        border: 0;
        border-right: 1px solid rgb(243, 215, 175);
    }
    .topnav a:last-child {
        border:0;
    }
    .footernav a {
        text-align: left;
    }
    #nedstamynd {
        width: 500px;
        height: auto;
    }
    
}
@media screen and (min-width:48rem){  /* 760px */
    body {
        line-height: 1.5;
    }
    
    .col-32 {
        grid-template-columns: 3fr 1fr;
    }
    .col-23 {
        grid-template-columns: 1fr 3fr;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    #nedstamynd {
        width: 250px;
        height: auto;
    }

}
@media screen and (min-width: 60rem){  /* 960px */

    header, main, footer {
        max-width: 60em;
        margin: 0 auto;
    }
    header h1 {
        font-size: 2.5rem;
    }
    .col-32 {
        grid-template-columns: 3fr 2fr;
    }
    .col-23 {
        grid-template-columns: 2fr 3fr;
    }
    #nedstamynd {
        width: 400px;
        height: auto;
    }

}
@media screen and (min-width: 80rem){ 

    header, main, footer {
        max-width: 80em;
    }
    header h1 {
        font-size: 3.5rem;
    }
    .copy {
        padding-bottom: 3rem;
    }
    #nedstamynd {
        width: 750px;
        height: auto;
    }

}